html{
    overflow-y:scroll;
    overflow-x:hidden;
}
body{
    margin:0;
    background-color: #0000FF;
    font-family: "noto-mono", mono;
    font-size: 20px;
    cursor: url("website-assets/pointer.png");
}
a{
    text-decoration: none;
    color: #0a131e;
}
/*-------GRIDLINES--------*/
#grid-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
  }
  .grid-line {
    position: absolute;
    background-color: #f8faf0; 
    opacity: 23%;
  }
  .horizontal {
    height: 1px;
    width: 100%;
  }
  .vertical {
    width: 1px;
    height: 100%;
  }
/*-------------------------------------------------*/
.hidden-sad-div{
    position:absolute;
    top:70px;
    right:20px;
    width: 3%;
    height:3%;
}
.hidden-sad-img{
    width:100%;
    opacity:0;
}
.title-bar{
    z-index: 5000;
    background-color: #f8faf0;
    display: flex;
    flex-direction: row;
    position: fixed;
    width:100%;
    height: 60px;
}
.underline{
    text-decoration: underline;
}
.nav{
    margin: auto auto auto 20px;
    justify-content: space-between;
    width: calc(60% + (100vw - 100%));
    display: flex;
    flex-direction: row;
    position: relative;
}
.folder{
    margin:auto -30px auto 0;
}
.nav-item:hover{
    color:#0000FF;
}
.exit-buttons{
    margin: auto 20px auto auto;
    width:fit-content;
    display:flex;
    flex-direction: row;
    position: relative;
    justify-content: end;
}
.upper-right{
    width: 18px;
    height:18px;
    padding: 10px
}
.dash{
    transform: scale(2);
}
.x{
    transform: scale(1.5);
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 94vh;
    padding: 60px 0 0 0;
}

.top-row{
    display:flex;
    flex-direction: column;
    position: relative;
    color:#f8faf0;
    margin: 30px auto auto auto;
    width: 95%;
    height: 20%;
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:6vw;
}
.notepad-group{
    width: 30%;
}
.editable-box {
    color: #0000FF;
    z-index: 4000;
    position:absolute;
    width: 22vw;
    min-height: 150px;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    outline: none;
    overflow-wrap: break-word;
    top:150px;
    left:130px;
}
.notepad-img{
    top:100px;
    left:100px;
    width: 26vw;
    position:absolute;
}
.can-div{
    width:30%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.can-img{
    margin: auto 0 0 auto;
    width: 12vw;
}
.exp-type-div{
    width: 30%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.exp-type-img{
    margin: auto 0 0 auto;
    align-self: end;
    width: 15vw;
}
.bottom-row{
    margin: 0 0 auto auto;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 91%;
    height: 20%;
    justify-content: start;
}
.comp-type-div{
    padding: 30px 0 0 0;
    width:30%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.comp-type-img{
    transform:scale(2)
}
.ex-div{
    width:30%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.ex-img{
    margin: 0 auto auto auto;
    width: 15vw;
}
.badge-div{
    width:30%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.badge-img{
    padding: 60px 0 0 0;
    transform:scale(2);
}
.name-div{
    display: flex;
    flex-direction: auto;
    justify-content: space-around;
    position: relative;
    margin:auto auto auto 40px;
}
.name{
    font-size: 15vw;
    margin:auto auto auto auto;
    color: #f8faf0;
    width:100%;
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.inactive{
    opacity: 50%;
}
.blinking-cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background: #f8faf0;
    vertical-align: middle;
    animation: blink 0.8s infinite;
}
.blinking-cursor-blue {
    display: inline-block;
    width: 2px;
    height: 1em;
    background: #0000FF;
    vertical-align: middle;
    animation: blink 0.8s infinite;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/*---------------CURATION PAGE---------------*/

.curation-content{
    display: flex;
    flex-direction: row;
    position: relative;
    width:100%;
    height: fit-content;
}
.tilted-text{
    margin: 40px auto auto 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    color:#f8faf0;
    font-size: 10vw;
    -webkit-writing-mode: sideways-lr;
    writing-mode: sideways-lr;
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 25%;
    height:100%;
    text-align: right;
}
.main{
    margin: auto 0 auto auto;
    width:75%;
    height:100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.i-make-margins{
    display:flex;
    flex-direction: column;
    position: relative;
    width: 80%;
}
.logo{
    margin: 50px auto 0 0;
}
.logo-img{
    width:20vw;
}
.intro{
    color: #f8faf0;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}
.paragraph-spacer{
    width:60%;
}
.left-half-text{
    color:#f8faf0;
    margin: auto auto auto 0;
    z-index: 1000;
    width: 100%;
}
.x-intro-img{
    width:20vw;
    margin: -50px -50px -50px 40px;
    z-index: 2;
}
.right-half-text{
    margin: auto 0 auto 10px;
    width: 100%;
    text-align: right;
}
.project-title{
    margin: 1vw auto 3vw 0;
    font-size: 35px;
    color:#f8faf0;
    display: flex;
    flex-direction: row;
    position: relative;
}
.stars-img{
    width:10vw;
}
.actual-title{
    margin:auto auto auto 0;
}
.project-info{
    color: #f8faf0;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}
.thirteen-div{
  width:60%;
}
.thirteen-img{
    width: 100%;
    padding: 0 0 10px 0;
}
.project-info .left-half-text{
    padding: 0 30px 0 0;
}
.project-info .paragraph-spacer{
    width: 24%;
}
.close-up-div{
    width:24%;
}
.close-up-img{
    width:100%;
}
.from-illustrator-div{
    margin:auto 0;
    width:30%;
}
.from-illustrator-img{
    width:100%;
}
.space-evenly{
    padding: 30px 0 0 0;
    justify-content: space-between;
    width: 100%;
    margin:auto auto auto 0;
}
.divider-div{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divider-img{
    padding: 40px 0;
    margin:auto;
    width:90%;
    height:auto;
}
/*------------TALK-----------------------*/
.linked{
    color:#0a131e;
    text-decoration: underline;
}
.talk-content{
    display: flex;
    flex-direction: row;
    position: relative;
    width:100%;
    height: 100vw; /*change to fit content later */
}
.talk-content .i-make-margins{
    padding: 10vw 0 0 0;
}

/*------------GRAPHIC DESIGN-----------------------*/
.graphic-design-content{
    display: flex;
    flex-direction: row;
    position: relative;
    width:100%;
    height: 100vw; /*change to fit content later */
}

.graphic-design-content .project-title{
    padding: 4vw 0 0 0;
}
.zine-img{
    width:100%;
}
.zine-div{
    width:45%;
    padding: 0 0 30px 0;
}
.project-can-div{
    width:30%;
    padding: 0 30px 0 0;
}
.project-can-img{
    width:100%;
}
.project-box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
}
.box-img{
    width:90%;
}
.ted-poster-div{
    width:45%;
    padding: 0 0 30px 0;
}
.ted-poster-img{
    width:100%;

}
.moving-info{
    width: 30%;
}
.moving-div{
    width:33%;
}

/* WEB DEV */
.web-dev-content{
    display: flex;
    flex-direction: row;
    position: relative;
    width:100%;
    height: fit-content;
}
.fl-img{
    width:24%;
    margin-right: 10px;
    margin-top:30px;
}
.project-info .bottom{
    margin-top:10px;
}
img{
    object-fit: contain;
}
.gif{
    width:100%;
}
video{
    width:100%;
}
.capstone-img{
    width:100%;
}
.highlight{
    background-color:#f8faf0;
    color:#0000FF;
}
.underline-link{
    text-decoration: underline;
    color:#f8faf0;
}
.top-row a{
    color:#f8faf0;
}
/* MEDIA QUERIES */

@media (max-width: 1000px) { 
    .nav {
        width: 100%;
    }
    .i-make-margins{
        width: 90%;
    }
    .tilted-text{
        width:5%;
    }
}