


#red-ball{
    background-color: pink;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation-name:ball;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

@keyframes ball{
    0% {
      top:0px; 
      left: 0px;
    }
    33%{
      top:0px;
      right: 0px;
    }
  
    66% {
      bottom:0;   
      right:0;
    }
    100% {
        bottom:0;   
        left:0;
      }
  }
    
    