body{
    font-size: 10px;
    padding: 2em;
    font-family:"Rethink Sans";
    padding: 15px;
}
.name{
    font-size: 3em;
    color: #121212;
    line-height: 0;
    align-items: center;
}
a{
    text-decoration:none;
    align-items: center;
}
#topFlex{
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.inner{
    padding: 1vw;
    font-size: 1.5em;
    color: #656565;
    line-height:1;
}
.inner:hover{
    color: #222222;
}
.top{
    flex-shrink: 0;
    line-height: 0;
    align-items: center;
    line-height: 7;
}
#topMiddle{
    /*width: 55vw;*/
    width: 60%;
    flex: 3 1 auto;
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    
}
.row{
    display: flex;
    flex-direction: row;
    height: 25vw;
    width: 100%;
    margin: auto;
}
.text{
    display: flex;
    flex-direction: row;
    height: 6em;
    width: 100%;
    margin: auto;
    align-items: center;
}
.item{
    width: 33%;
    position:relative;
    overflow: hidden;
    transition: opacity 0.1s 10ms ease-out 100ms;
}
.label{
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    width:33%;
}
.image{
    width: 100%;
    position:absolute;
}
.item:hover{
    overflow: hidden;
    opacity: 70%;
}
.six{
    background-color: grey;
}
.seven{
    background-color: orange;
}
.eight{
    background-color: yellow;
}
.nine{
    background-color: lightblue;
}
#backToTop{
    color: #656565;
    margin:auto;
    align-content: space-around;
}
#backToTop:hover{
    color: #222222;
    cursor: pointer;
}
.backToTop{
    display: flex;
    padding: 50px;
    margin:auto;
    align-content: space-around;
    font-size: 1.5em;
}
/*soundcloud*/
.soundcloud{
    width: 40vw;
    margin:auto;
    padding: 60px 0 0 0;

}
/*marble maze*/
.madnessImg{
    width:100%;
    display: flex;
    align-content: space-around;
    margin:auto;
}
#madnessTopImg{
    width:35vw;
    margin:auto;
}
.title{
    font-size:2.5em;
    padding: 0 10vw 0 10vw;
    font-weight: 500;
}
.description{
    padding: 0 10vw 0 10vw;
    font-size: 1.9em;
    line-height:1.5;
    color: #656565;
    font-family:"Roboto";
}
#madnessSet1{
    width:55vw;
    margin:auto;
}
#madnessSet2{
    width:55vw;
    margin:auto;  
}
#madnessSet3{
    width:55vw;
    margin:auto;  
}
#madnessSet4{
    width:65vw;
    margin:auto;  
}
.video{
    width:100%;
    display: flex;
    align-content: space-around;
    margin:auto; 
}
#marbleVideo{
    width:65vw;
    height: 65vh;
    margin:auto;
}
.marbleLink{
    color: lightcoral;
}
.marbleLink:hover{
    color: #222222;
}

